{% extends 'base/main.html' %}
{% block content %}
<div class="header-container">
    <h1>Register</h1>
</div>
<div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
        <label >{{form.username.label}}</label>
    {{form.username}}
    <label for="">{{form.password1.label}}</label>
    {{form.password1}}
    <label for="">{{form.password2.label}}</label>
    {{form.password2}}
        <input type="submit" value="Sign Up" class="button" style="display: block; margin-top: 10px;">
        
    </div>
</form>
<p>Already Have an account? <a href={% url 'login' %}>LogIn</a></p>
{% endblock content %}